<footer class="site-footer">
    <div class="footer_div">
        <img src="gp images/Rectangle 2770.png" alt="" class="footer_photo" />

        <div class="footer_logo">
            <div class="container_for_notes_title">
                <img class="open_book_pic" src="gp images/Book open.png" alt="Book Icon" />
                <p class="education_academy_footer">Education Academy</p>
            </div>
        </div>

        <div class="code_academy_container">
            <p class="code_academy">Code Academy</p>
            <p>learn programming with tutorials, Courses, and challenges</p>
        </div>

        <div class="footer_links">
            <a href="/" class="footer_link_click"><p class="footer_link">Platform</p></a>
            <a href="/courses" class="footer_link_click"><p class="footer_link">Courses</p></a>
            <a href="/" class="footer_link_click"><p class="footer_link">Tutorials</p></a>
            <a href="/" class="footer_link_click"><p class="footer_link">Contact</p></a>
        </div>

        <div class="footer_communication">
            <a href="/" class="footer_link_click"><p class="footer_link">Community</p></a>
            <a href="/" target="_blank" class="footer_link_click"><p class="footer_link">Github</p></a>
            <a href="/" class="footer_link_click"><p class="footer_link">Newsletter</p></a>
        </div>
    </div>
</footer>

<style>
    footer.site-footer {
        display: flex;
        background-image: url("gp images/Rectangle 2770.png");
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        background-position-y: bottom;
        border-top-left-radius: 60px;
        height: 400px;
        text-align: center;
        font-size: 16px;
        box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.15);
        border-top: 3px solid #6baab6;
        position: relative;
        width: 100%;
    }

    .footer_div {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        padding: 50px 5% 20px 5%;
        position: relative;
        flex-wrap: wrap;
    }

    .footer_photo {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1; 
        object-fit: cover;
        opacity: 0.3; 
    }

    .footer_link_click {
        text-decoration: none;
        color: white;
        transition: opacity 0.3s;
    }

        .footer_link_click:hover {
            opacity: 0.8;
        }

    .education_academy_footer {
        font-weight: bold;
        font-size: 20px;
    }

    .footer_links, .footer_communication {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .footer_link {
        margin: 5px 0;
    }
</style>