<div class="footer_div">
    <img src="gp images/Rectangle 2770.png" alt="" class="footer_photo" />
    <div class="footer_logo">
        <div class="container_for_notes_title">
            <img class="open_book_pic" src="gp images/Book open.png" />
            <p class="education_academy_footer">Education Academy</p>
        </div>
    </div>
    <div class="code_academy_container">
        <p class="code_academy">Code Academy</p>
        <p>learn programming with tutorials, Courses, and challenges</p>
    </div>
    <div class="footer_links">
        <NavLink href="/" class="footer_link_click"><p class="footer_link">Platform</p></NavLink>
        <NavLink href="/courses" class="footer_link_click"><p class="footer_link">Courses</p></NavLink>
        <NavLink href="#" class="footer_link_click"><p class="footer_link">Tutorials</p></NavLink>
        <NavLink href="#" class="footer_link_click"><p class="footer_link">Contact</p></NavLink>
    </div>
    <div class="footer_communication">
        <NavLink href="#" class="footer_link_click"><p class="footer_link">Community</p></NavLink>
        <NavLink href="#" class="footer_link_click"><p class="footer_link">Github</p></NavLink>
        <NavLink href="#" class="footer_link_click"><p class="footer_link">Newsletter</p></NavLink>
    </div>
</div>
<style>
    .footer_div {
        position: relative;
        width: 100%;
        min-height: 250px;
        margin-top: auto;
    }

    .footer_photo {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .footer_logo, .code_academy_container, .footer_links, .footer_communication {
        position: absolute;
        color: #000;
    }

    .footer_logo {
        top: 60px;
        left: 50px;
    }

    .code_academy_container {
        bottom: 40px;
        left: 270px;
    }

    .footer_links {
        bottom: 30px;
        right: 250px;
        display: flex;
        flex-direction: column;
    }

    .footer_communication {
        bottom: 35px;
        right: 50px;
        display: flex;
        flex-direction: column;
    }

    .footer_link_click {
        color: #000;
        text-decoration: none;
        margin-bottom: 5px;
    }

        .footer_link_click:hover {
            color: orange;
        }
</style>