@inherits LayoutComponentBase
@inject NavigationManager Navigation
@implements IDisposable

<LoadingOverlay IsVisible="isPageLoading" />

<div class="page-wrapper">
    <Header />

@Body

    <Footer />
</div>

@code
{
    private bool isPageLoading = false;

    protected override void OnInitialized()
    {
        // الاشتراك في حدث تغيير الصفحة
        Navigation.LocationChanged += HandleLocationChanged;
    }

    private async void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        //  إظهار شاشة التحميل عند بدء التنقل
        isPageLoading = true;
        StateHasChanged();

        // محاكاة وقت التحميل
        //يمكن تعديل الوقت
        await Task.Delay(3000);

        // إخفاء الشاشة بعد انتهاء التنقل
        isPageLoading = false;
        StateHasChanged();
    }

    public void Dispose()
    {
        // إلغاء الاشتراك عند إغلاق التطبيق لتجنب تسريب الذاكرة
        Navigation.LocationChanged -= HandleLocationChanged;
    }
    
}
